@model IEnumerable<CategoryOperation.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary">PRODUCT RECORD</h1>
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-primary rounded-0 shadow" })
            </p>

            @* Message From Delete *@
            <p class="text-center text-success">@TempData["DeleteMessage"]</p>
            @* Message From Create *@
            <p class="text-center text-success">@TempData["InsertMessage"]</p>
            @* Message From Edit *@
            <p class="text-center text-success">@TempData["UpdateMessage"]</p>
            <table class="table table-bordered">
                <tr class="text-center">
                    <th>
                        @Html.DisplayNameFor(model => model.Categories.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categories.NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.Categories.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categories.NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-outline-success rounded-0 shadow" })
                            @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-outline-warning rounded-0 shadow" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-outline-danger rounded-0 shadow" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

